:root {
    --background-color: #AC87C5;
    --text-color: #FFff;
}
body {
    background-color: var(--background-color);
}

.container {
    text-align: center;
    margin: 3px;
    color: var(--text-color);
}

h1 {
    margin: 2px;
    padding: 0;
}

button {
    margin: 7px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 0.5px solid var(--text-color);
}

.gridContainer {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    border: 0.5px solid var(--text-color);
    box-sizing: border-box;
}